

<div class="login-popup">
    <div class="box">
        <div class="img-area">
            <div class="img"></div>
        </div>
        <div class="form">
            <div class="close">&times;</div>
            <!-- <h4 class="text-center mb-2">Log In</h4> -->
            <p id="blockedError" class="text-danger text-center font-weight-bold"></p>
            <form id="login-form" method="post" action="/userLogin" class="mt-4">
                <div class="form-group">
                    <input type="email" id="email" placeholder="Enter Email" value="arifcsidhik@gmail.com" name="email" class="form-control my-0" >
                    <p id="emailError" class=" text-danger ml-3"></p>
                </div>
                <div class="form-group">
                    <input type="password" id="password" placeholder="Enter Password" value="qwerty123" name="password" class="form-control my-0" >
                    <p id="passwordError" class="text-danger ml-3"></p> 
                </div>
                <div class="form-groups d-flex justify-content-between align-items-center">
                    <div><a href="/passwordForgetPage" class="link-style">Forgot password?</a></div>
                    <div><a class="link-style  signup-button" style="cursor: pointer;">Don't have an account?</a></div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Log In</button>
                </div>

                <div class="col-12 my-2">
                    <div class="d-flex">
                        <span class="text-center">------------------- or -----------------</span>
                    </div>
                </div>

                <div class="row social-btn mx-auto">
                    <div class="col-12 mt-2">
                        <a href="/auth/google">
                            <div class="row google" style="border:1px solid rgb(107, 107, 107);">
                                <div class="col-2 py-1 bg-light"><i class="fa fa-fw fa-google text-danger"></i></div>
                                <div class="col-10 py-1 bg-primary text-white text-center">Login With Google</div>
                            </div>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    $(document).ready(function() {
        $('#login-form').submit(function(event) {
            event.preventDefault();
    
            var formData = {
                email: $('#email').val(),
                password: $('#password').val()
            };
    
            $.ajax({
                type: 'POST',
                url: '/userLogin',
                data: JSON.stringify(formData),
                contentType: 'application/json',
                success: function(response) {
                    if (response.success) {
                        window.location.href = '/';
                    }
                },
                error: function(xhr, status, error) {
                    var response = JSON.parse(xhr.responseText);
                    if (xhr.status === 401) {
                        if (response.emailMsg) {
                            $('#emailError').text(response.emailMsg);
                                setTimeout(function() {
                                $('#emailError').text('');
                            },3000);
                        
                        } else if (response.passwordMsg) {
                            $('#passwordError').text(response.passwordMsg);
                            setTimeout(function() {
                                $('#passwordError').text('');
                            }, 3000);
                        
                        } else if (response.blocked) {
                            $('#blockedError').text(response.blockedMsg);
                            setTimeout(function() {
                                $('#blockedError').text('');
                            }, 3000);
                        }
                    } else {
                        console.log(response.message);
                        // Handle other server errors
                    }
                }
            });
        });
    });
    </script>


<!-- <script>
    $(document).ready(function() {
        $('#login-form').submit(function(event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/userLogin',
                data: $(this).serialize(),
                success: function(response) {
                    if (response.success) {
                        window.location.href = '/';
                    } else if (response.blocked) {
                        $('#blockedError').text(response.blockedmsg);
                        setTimeout(function() {
                            $('#blockedError').text('');
                        }, 5000);
                    } else if (response.emailMsg === "Invalid Email") {
                        $('#emailError').text(response.emailMsg);
                        setTimeout(function() {
                            $('#emailError').text('');
                        }, 5000);
                    }else if (response.passwordMsg === "Invalid Password"){
                        $('#passwordError').text(response.passwordMsg);
                        setTimeout(function() {
                            $('#passwordError').text('');
                        }, 5000);
                    }
                },
                error: function(xhr, status, error) {
                    if (xhr.status === 401) {
                        $('#generalError').text("Invalid email or password.");
                    } else {
                        $('#generalError').text("An error occurred. Please try again later.");
                    }
                }
            });
        });
    });
</script> -->
