
<!doctype html>
<html class="no-js" lang=""> 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>E S S E N T I A L - ADMIN</title>
    <meta name="description" content="E S S E N T I A L  ADMIN">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
    <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png"> 

    <script src="https://code.jquery.com/jquery-1.8.3.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="/admin/asset/css/adminHome.css" type="text/css">
    

</head>

<body>
    <!-- Left Panel -->
    
    <%- include('./partials/admin/adminLeftSide.ejs') %>

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

    <!-- Header-->
    <%- include('./partials/admin/adminHeader.ejs') %>

        <!-- Content -->
        <div class="content mt-5">
            <!-- Animated -->
            <div class="animated fadeIn">
                
                <div class="clearfix"></div>

                <!-- Add product -->      
                <div class="row">
                    <!-- Add product -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title box-title">Add Product</h4>
                                <div class="card-content">
                                    <div class="todo-list">
                                        <div class="tdl-holder">
                                            <div class="tdl-content">
                                                <form action="/admin/addnewproduct" method="post" enctype="multipart/form-data" onsubmit="return productValidation()">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <div class="form-floating">
                                                                <label for="productname"><span class="fw-bold text-dark text-capitalize">Product Name:</span></label>
                                                                <input type="text" name="productname" id="productname" class="form-control my-0" placeholder="Enter Product name" required>
                                                                <p id="productnameError" class="text-danger my-0"></p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <div class="form-floating">
                                                                <label for="brandname"><span class="fw-bold text-dark text-capitalize">Brand Name :</span></label>
                                                                <input type="text" name="brandname" id="brandname" class="form-control my-0" placeholder="Enter brand name" required>
                                                                <p id="brandnameError" class="text-danger my-0"></p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                                            <div class="form-floating">
                                                                <label for="gender"><span class="fw-bold text-dark text-capitalize">Gender : </span></label>
                                                                <select id="gender" name="gender" class="form-control form-control-md" required>
                                                                    <option disabled selected>Choose Gender</option>
                                                                    <option value="Men">Men</option>
                                                                    <option value="Woman">Women</option>
                                                                </select>
                                                                <p id="genderError" class="text-danger my-0"></p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                                            <div class="form-floating">
                                                                <label for="productcategory"><span class="fw-bold text-dark text-capitalize">Product Category : </span></label>
                                                                <select id="productcategory" name="productcategory" class="form-control form-control-md" required>
                                                                    <option disabled selected>Choose Category</option>
                                                                    <% categories.forEach(category=>{%>
                                                                        <option value="<%= category._id %>"><%= category?.categoryName %></option>
                                                                    <% }); %>
                                                                </select>
                                                                <p id="productcategoryError" class="text-danger my-0"></p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                                            <div class="form-floating">
                                                                <label for="color"><span class="fw-bold text-dark text-capitalize">Color : </span></label>
                                                                <select id="color" name="color" class="form-control form-control-md" required>
                                                                    <option disabled selected>Choose Colour</option>
                                                                    <option value="white">White</option>
                                                                    <option value="Black">Black</option>
                                                                    <option value="Red">Red</option>
                                                                    <option value="Green">Green</option>
                                                                    <option value="Magenta">Magenta</option>
                                                                    <option value="Yellow">Yellow</option>
                                                                    <option value="Navy">Navy</option>
                                                                    <option value="Orange">Orange</option>
                                                                    <option value="Grey">Grey</option>
                                                                    <option value="Multi">Multi</option>
                                                                    <option value="Blue">Blue</option>
                                                                </select>
                                                                <p id="colorError" class="text-danger my-0"></p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                                            <div class="form-floating">
                                                                <label for="price"><span class="fw-bold text-dark text-capitalize">Price : </span></label>
                                                                <input type="number" name="price" id="price" class="form-control" placeholder="Enter price" required>
                                                                <p id="priceError" class="text-danger my-0"></p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                                            <div class="form-floating">
                                                                <label for="quantity"><span class="fw-bold text-dark text-capitalize">Quantity : </span></label>
                                                                <input type="number" name="quantity" id="quantity" class="form-control" placeholder="Enter quantity" required>
                                                                <p id="quantityError" class="text-danger my-0"></p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                                            <div class="form-floating">
                                                                <label for="size"><span class="fw-bold text-dark text-capitalize">Size : </span></label>
                                                                <select id="size" name="size" class="form-control form-control-md" required>
                                                                    <option disabled selected>Choose Size</option>
                                                                    <option value="S">S</option>
                                                                    <option value="M">M</option>
                                                                    <option value="L">L</option>
                                                                </select>
                                                                <p id="sizeError" class="text-danger my-0"></p>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                            <div class="form-floating mb-5">
                                                                <label for=""><span class="fw-bold text-dark text-capitalize">Description : </span></label>
                                                                <textarea class="form-control" name="description" id="description" placeholder="Enter description" required style="height: 100px;"></textarea>
                                                                <p id="descriptionError" class="text-danger my-0"></p>
                                                            </div>
                                                        </div>
                    
                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                            <div class="form-floating">
                                                                <label class="custom-file-label fw-bold" for="image">Upload Image</label>
                                                                <input type="file" name="image" id="image" accept="image/*" class="custom-file-input" required multiple>
                                                                <p id="imageError" class="text-danger my-0"></p>
                                                            </div>
                                                        </div>

                                                        <div id="images-container"></div>

                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                            <button type="submit" class="btn w-100 mx-auto text-white" style="margin-top:40px;height:50px;background-color: black;">Submit</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- add product end -->
                </div>
                <!-- Add product end -->
            </div>
        </div>
        <!-- /.content -->

        <div class="clearfix"></div>

    </div>

    <!-- /#right-panel -->

    <script>
        //-------------- form validation ---------------
        function productValidation(){

            const productname = document.getElementById('productname');
            const brandname = document.getElementById('brandname');
            const gender = document.getElementById('gender');
            const productcategory = document.getElementById('productcategory');
            const color = document.getElementById('color');
            const price = document.getElementById('price');
            const quantity = document.getElementById('quantity');
            const size = document.getElementById('size');
            const description = document.getElementById('description');
            const image = document.getElementById('image');
            //----------Error feilds
            const productnameError = document.getElementById('productnameError');
            const brandnameError = document.getElementById('brandnameError');
            const genderError = document.getElementById('genderError');
            const productcategoryError = document.getElementById('productcategoryError');
            const colorError = document.getElementById('colorError');
            const priceError = document.getElementById('priceError');
            const quantityError = document.getElementById('quantityError');
            const sizeError = document.getElementById('sizeError');
            const descriptionError = document.getElementById('descriptionError');
            const imageError = document.getElementById('imageError');
            //-----------Regex   

            //* ------------- product name field ------------
            if(productname.value.trim() === ''){
                productnameError.innerHTML = 'You must enter the product name';
                setTimeout(() => {
                    productnameError.innerHTML = '';
                }, 2000);
                return false;
            }
            //* ------------- brand name field ------------
            if(brandname.value.trim() === ''){
                brandnameError.innerHTML = 'You must enter the brand name';
                setTimeout(() => {
                    brandnameError.innerHTML = '';
                }, 2000);
                return false;
            }
            //* ------------- gender field ------------
            if(gender.value === 'Choose Gender'){
                genderError.innerText = 'Please select a gender';
                setTimeout(() => {
                    genderError.innerText = '';
                }, 2000);
                return false; 
            }
            //* ------------- product category field ------------
            if(productcategory.value === 'Choose Category'){
                productcategoryError.innerText = 'Please select proper product category';
                setTimeout(() => {
                    productcategoryError.innerText = '';
                }, 2000);
                return false; 
            }
            //* ------------- color field ------------
            if(color.value === 'Choose Colour'){
                colorError.innerText = 'Please select proper color';
                setTimeout(() => {
                    colorError.innerText = '';
                }, 2000);
                return false; 
            }
            //* ------------- price  field ------------
            if(price.value.trim() === ''){
                priceError.innerHTML = 'You must enter the price';
                setTimeout(() => {
                    priceError.innerHTML = '';
                }, 2000);
                return false;
            }
            //* ------------- quantity  field ------------
            if(quantity.value.trim() === ''){
                quantityError.innerHTML = 'You must enter the quantity';
                setTimeout(() => {
                    quantityError.innerHTML = '';
                }, 2000);
                return false;
            }
            //* ------------- size field ------------
            if(size.value === 'Choose Size'){
                sizeError.innerText = 'Please select proper size';
                setTimeout(() => {
                    sizeError.innerText = '';
                }, 2000);
                return false; 
            }
            //* ------------- description  field ------------
            if(description.value.trim() === ''){
                descriptionError.innerHTML = 'You must enter the description';
                setTimeout(() => {
                    descriptionError.innerHTML = '';
                }, 2000);
                return false;
            }


        return true;
        }

        // ------------- image preview and remove --------------
        $(document).ready(function (){
            $("#image").on('change', function () {
                displaySelectedImages(this);
            });
        });
    
        function displaySelectedImages(input){
            var files = input.files;
            var imagesContainer = document.getElementById('images-container');
            imagesContainer.innerHTML = ''; // Clear previous images
    
            var fileNames = []; // Array to store selected image filenames
    
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                if (file.type.match('image.*')) {
                    var reader = new FileReader();
                    reader.onload = (function (file) {
                        return function (e) {
                            var container = document.createElement('div');
                            container.style.position = 'relative'; // Set container position
                            container.style.display = 'inline-block'; // Display images horizontally
    
                            var img = document.createElement('img');
                            img.src = e.target.result;
                            img.style.width = '150px'; // Set width for display
                            img.style.height = '150px'; // Set height for display
                            img.style.margin = '0px 10px'; // Set margin
                            container.appendChild(img);
    
                            // Create remove button
                            var removeBtn = document.createElement('p');
                            removeBtn.innerHTML = 'X';
                            removeBtn.style.position = 'absolute'; // Set button position
                            removeBtn.style.color = "black"
                            removeBtn.style.top = '5px';
                            removeBtn.style.right = '20px';
                            removeBtn.style.cursor = 'pointer'; // Set cursor to pointer
                            removeBtn.onclick = function () {
                                removeImage(container, file);
                            };
                            container.appendChild(removeBtn);
    
                            imagesContainer.appendChild(container);
    
                            fileNames.push(file.name); 
                        };
                    })(file);
                    reader.readAsDataURL(file);
                }
            }
        }
    
        function removeImage(container, file){
            container.remove(); 
        }

         // ----------- all selected file names to appear inside the input field----------
         $(".custom-file-input").on("change", function() {
            var files = [];
            for (var i = 0; i < $(this)[0].files.length; i++) {
                files.push($(this)[0].files[i].name);
            }
            $(this).siblings(".custom-file-label").addClass("selected").html(files.join(", "));
        });
    </script>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>   <!-- jquery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="/admin/asset/js/adminHome.js"></script>


</body>
</html>
