<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">
        <li><span class="icon_search search-switch"></span></li>
        <li>
            <a href="#"><span class="icon_heart_alt"></span><div class="tip">2</div></a>
        </li>
        <li>
            <a href="#"><span class="icon_bag_alt"></span><div class="tip">2</div></a>
        </li>
        <li>
            <a href="#" class=""><span><i class="fa-regular fa-user" ></i></span></a>
        </li>
    </ul>
    <div class="offcanvas__logo">
        <a href="./index.html"><img src="" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Start -->
<header class="header sticky-top">
    <div class="container-fluid" style="max-width: 90%;">
        <div class="row align-items-center">
            <!-- Logo Section -->
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a class="logo-name" href="./index.html" style="font-weight: bold; font-size: 20px; color: black;">E S S E N T I A L</a>
                </div>
            </div>

            <!-- Main Menu Section -->
            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu text-center">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        <li class="menu-item-has-children dropdown-hover position-static">
                            <a class="nav-link" href="/menproductlist" id="navbarDropdownMens" role="button" data-mdb-toggle="dropdown" aria-expanded="false">MENS</a>
                            <!-- Dropdown menu -->
                            <div class="dropdown-menu w-100 mt-0" aria-labelledby="navbarDropdownMens" style="border-top-left-radius: 0; border-top-right-radius: 0;">
                                <div class="container">
                                    <div class="row my-2">
                                        <div class="col-md-6 col-lg-4 mb-0 mb-lg-0">
                                            <div class="list-group list-group-flush">
                                                <a href=""><span style="font-size:13px;font-weight: bold;">TOP WEARS</span></a>
                                                <a href=""><span class="mega-menu">T-Shirts</span></a>
                                                <a href=""><span class="mega-menu">Casual Shirt</span></a>
                                                <a href=""><span class="mega-menu">Formal Shirts</span></a>
                                                <a href=""><span class="mega-menu">Jackets & Coats</span></a>
                                                <a href=""><span class="mega-menu">Sweaters</span></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 mb-0 mb-lg-0">
                                            <div class="list-group list-group-flush">
                                                <a href=""><span style="font-size:13px;font-weight: bold;">BOTTOM WEARS</span></a>
                                                <a href=""><span class="mega-menu">Jeans</span></a>
                                                <a href=""><span class="mega-menu">Track Pants</span></a>
                                                <a href=""><span class="mega-menu">Casual Trousers</span></a>
                                                <a href=""><span class="mega-menu">Formal Trousers</span></a>
                                                <a href=""><span class="mega-menu">Shorts</span></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 mb-3 mb-md-0">
                                            <div class="list-group list-group-flush">
                                                <a href=""><span style="font-size:13px;font-weight: bold;">ACCESSORIES</span></a>
                                                <a href=""><span class="mega-menu">Perfumes & Body Mists</span></a>
                                                <a href=""><span class="mega-menu">Belts</span></a>
                                                <a href=""><span class="mega-menu">Caps & Hats</span></a>
                                                <a href=""><span class="mega-menu">Wallets</span></a>
                                                <a href=""><span class="mega-menu">Sunglasses & Frames</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="menu-item-has-children dropdown-hover position-static">
                            <a class="nav-link" href="/womenproductlist" id="navbarDropdownWomens" role="button" data-mdb-toggle="dropdown" aria-expanded="false">WOMENS</a>
                            <!-- Dropdown menu -->
                            <div class="dropdown-menu w-100 mt-0" aria-labelledby="navbarDropdownWomens" style="border-top-left-radius: 0; border-top-right-radius: 0;">
                                <div class="container">
                                    <div class="row my-2">
                                        <div class="col-md-6 col-lg-4 mb-0 mb-lg-0">
                                            <div class="list-group list-group-flush">
                                                <a href=""><span style="font-size:13px;font-weight: bold;">TOP WEARS</span></a>
                                                <a href=""><span class="mega-menu">T-Shirts</span></a>
                                                <a href=""><span class="mega-menu">Casual Shirt</span></a>
                                                <a href=""><span class="mega-menu">Formal Shirts</span></a>
                                                <a href=""><span class="mega-menu">Jackets & Coats</span></a>
                                                <a href=""><span class="mega-menu">Sweaters</span></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 mb-0 mb-lg-0">
                                            <div class="list-group list-group-flush">
                                                <a href=""><span style="font-size:13px;font-weight: bold;">BOTTOM WEARS</span></a>
                                                <a href=""><span class="mega-menu">Jeans</span></a>
                                                <a href=""><span class="mega-menu">Track Pants</span></a>
                                                <a href=""><span class="mega-menu">Casual Trousers</span></a>
                                                <a href=""><span class="mega-menu">Formal Trousers</span></a>
                                                <a href=""><span class="mega-menu">Shorts</span></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 mb-3 mb-md-0">
                                            <div class="list-group list-group-flush">
                                                <a href=""><span style="font-size:13px;font-weight: bold;">ACCESSORIES</span></a>
                                                <a href=""><span class="mega-menu">Perfumes & Body Mists</span></a>
                                                <a href=""><span class="mega-menu">Belts</span></a>
                                                <a href=""><span class="mega-menu">Caps & Hats</span></a>
                                                <a href=""><span class="mega-menu">Wallets</span></a>
                                                <a href=""><span class="mega-menu">Sunglasses & Frames</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="/contactPage">Contact</a></li>
                        <li><a href="/aboutPage">About</a></li>
                    </ul>
                </nav>
            </div>

            <!-- Right Widgets Section -->
            <div class="col-lg-3">
                <div class="header__right d-flex align-items-center">
                    <!-- Search Form -->
                    <form class="d-flex mx-3" action="/searchResult" method="GET" >
                        <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="searchquery">
                        <button class="btn btn-sm btn-dark" type="submit">
                            <i class="fa-solid fa-magnifying-glass text-white"></i>
                        </button>
                    </form>
                    
                    <!-- Other Widgets -->
                    <ul class="header__right__widget d-flex align-items-center">
                        <!-- <li><span class="icon_search search-switch"></span></li> -->
                        <% if (user) { %>
                            <li><a href="/wishlistPage"><span class="icon_heart_alt"></span><div id="wishlisticon" class="tip"><%= user.wishlist?.length %></div></a></li>
                            <% if (user.cart) { %>
                                <li><a href="/cartPage"><span class="icon_bag_alt"></span><div id="cartlenght" class="tip"><%= user.cart?.length %></div></a></li>
                            <% } else { %>
                                <li><a href="/cartPage"><span class="icon_bag_alt"></span><div id="cartlenght" class="tip">0</div></a></li>
                            <% } %>
                            <li class="nav-item dropdown">
                                <a href="/userProfile" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Profile">
                                    <% if (user.image) { %>
                                        <% if (user.isGoogle) { %>
                                            <img class="img-fluid rounded-circle" src="<%= user?.image %>" alt="Profile Image" style="height:30px;width:35px;">
                                        <% } else { %>
                                            <img class="img-fluid rounded-circle" src="/user/asset/img/userImage/<%= user?.image %>" alt="Profile Image" style="height:30px;width:35px;">
                                        <% } %>
                                    <% } else { %>
                                        <img class="img-fluid rounded-circle" src="/user/asset/img/3135715.png" alt="Profile Image" style="height:30px;width:35px;">
                                    <% } %>
                                </a>
                            </li>
                        <% } else { %>
                            <li><a href="/wishlistPage"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="/cartPage"><span class="icon_bag_alt"></span></a></li>
                            <li><a href="#" class="login-button"><span><i class="fa-regular fa-user"></i></span></a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>

        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header End -->

<!-- font awesome -->
<script src="https://kit.fontawesome.com/a7c53a016a.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>



<style>
    .dropdown-hover:hover>.dropdown-menu {
        display: inline-block;
    }
    .dropdown-hover>.dropdown-toggle:active {
        pointer-events: none;
    }
    .mega-menu {
        font-size: 13px;
        text-transform: lowercase;
    }
    .form-control:focus {
        outline: none;
        box-shadow: none;
        border-color: inherit;
    }
    @media (max-width: 991px) {
        .header__right .form-control {
            width: 100%;
        }
        .header__right .btn {
            width: 100%;
            margin-top: 5px;
        }
    }
</style>
